main {
	height: 90vh;
	@include wrapper();
	@include middle();
	div {
		h1 {
			line-height: 0.85em;
			@include animate();
			@include fadeInLeft();
			animation-delay: 0ms;
			margin-bottom: fnGetSpacing(10);
		}
		h2 {
			@include animate();
			@include fadeInLeft();
			animation-delay: 300ms;
			line-height: 1em;
			font-weight: 300!important;
		}
	}
}

footer {
	@include animate();
	@include fadeInUp();
	animation-delay: 1s;
	position: absolute;
	bottom: fnGetSpacing(100);
	right: fnGetSpacing(100);
	color: #e3e3e3;
	a {
		opacity: 1;
	}
}